server { 
    listen              80; 
    server_name         dev02.my; 
 
    access_log          /var/log/nginx/dev02.access.log; 
    error_log           /var/log/nginx/dev02.error.log; 
 
    root                /www/phpdev-02; 
    index               index.php; 
 
    charset             utf-8; 
 
    location / { 
        if (-f $request_filename) { 
            expires max; 
            break; 
        } 
        if ( !-e $request_filename ) { 
            rewrite ^(.*) /index.php last; 
        } 
    } 
 
    location ~ "^(.+\.php)($|/)" { 
        fastcgi_split_path_info ^(.+\.php)(.*)$; 
        fastcgi_param   SCRIPT_FILENAME   $document_root$fastcgi_script_name; 
        fastcgi_param   SCRIPT_NAME       $fastcgi_script_name; 
        fastcgi_param   PATH_INFO         $fastcgi_path_info; 
        fastcgi_pass    unix:/run/php/php8.1-fpm.sock; 
        include         fastcgi_params; 
    } 
}
